
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerLogo{
    width: 17%;
    height: auto;
}
.header{
    padding: 1.7em 4em;
    height: auto;
    background-color: rgba(85, 85, 85, 0.178);
    display: flex;
}
.headerSearchbar{
    padding: 4;
    width: 40%;
    background-color: rgba(110, 50, 50, 0.363);
    margin: 30px;
    padding: 3px;
}