* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 20px;
}

* h1 {
  font-size: 28px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../JojaMart_files/Background/SDV_wallpaper_house_stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
}

/*#region registrationForm*/
#registration-form {
  position: absolute;
  left: 50%;
  top: 50%;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
  background-color: white;
  width: 500px;
  padding: 40px 20px 30px 20px;
  box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
  z-index: 10;
  border-radius: 0.4em;
}

#login-form.inactive{
  display: none;
  overflow: hidden;
}

#signup-form.inactive{
  display: none;
  overflow: hidden;
}

.close-btn {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 16px;
  font-size: x-large;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: grey;
  border-radius: 1em;
  cursor: pointer;
  user-select: none;
}

.registration-error-text{
  font-size: 16px;
  color: red;
}

.registration-form-text h2 {
  text-align: center;
  font-size: 25px;
  color: #222;
  margin-bottom: 20px;
}

.registration-form-element {
  margin: 30px 0px;
  display: flex;
  flex-direction: column;
}

.registration-form-element label {
  margin-bottom: 15px;
}

.registration-form-element input,
.registration-form-element select  {
  padding: 10px 10px;
  border-radius: 0.4em;
  border: #222 2px solid;
}

#login-form-confirm-btn-panel {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.registration-form-confirm-btn-panel button {
  padding: 10px 20px;
  background-color: #222;
  width: 100%;
  color: white;
  border-radius: 0.4em;
  border: #222 2px solid;
  cursor: pointer;
}

.registration-form-bottom-panel{
  padding-top: 30px;
}

.registration-form-tag a{
  color: #222;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

.registration-form-tag a:hover{
  border-bottom: 2px #222 solid;
  box-sizing: content-box;
  overflow: hidden;
}

.disable-scroll {
  overflow: hidden;
}

/*signup elements--------------------------------------------------------------------*/

#signup-form-elements-panel .registration-form-element{
  margin: 20px 0px;
}

#signup-form-elements-panel .registration-form-element label{
  margin-bottom: 10px;
}

#signup-dob-gender-element div{
  display: flex;
  justify-content: space-between;
}

#signup-gender{
  padding: 10px 15px;
}

.signup-dob-gender-element-error-container{
  display: flex;
  flex-direction: column;
}


/*#endregion  registrationForm*/
/*#region header*/
#header-region {
  width: 100%;
  height: 90px;
  padding: 0 70px;
  background-color: hsl(208, 100%, 97%, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#logo {
  width: 200px;
  height: auto;
  display: block;
}

#header-nav-containter {
  margin: 0 25px;
}

#header-nav-containter ul {
  display: flex;
  flex-direction: row;
  flex-basis: auto;
  gap: 40px;
}

#header-nav-containter li {
  list-style-type: none;
  width: max-content;
  cursor: pointer;
}

#header-nav-containter a {
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
  font-family: helvetica;
  font-size: 20px;
  border-radius: 0.4em;
}

#header-nav-containter a:hover {
  background-color: hsl(221, 21%, 27%, 0.8);
  color: white;
}

#header-right-container {
  flex-basis: 435px;
  min-width: 200px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#search-bar {
  display: flex;
  justify-content: space-between;
  background-color: #EDEAE0;
  height: 55px;
  width: 100%;
  max-width: 350px;
  min-width: 150px;
  position: relative;
  padding: 10px 15px;
  border-radius: 2em;
}

#search-bar input {
  width: 80%;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 20px;
  font-size: large;
}

.mag-glass-img-container {
  display: inline-block;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 2em;
}

.mag-glass-img-container img {
  margin-left: auto;
  width: 20px;
  height: 100%;
  object-fit: contain;
}

.mag-glass-img-container:hover {
  background-color: hsl(0, 0%, 100%);
}

.header-btn {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
}

.header-btn p{
  padding: 10px 15px;
  text-decoration: none;
  color: #333333;
  font-family: helvetica;
  font-size: 20px;
  border-radius: 0.4em;
}

.header-btn p:hover {
  background-color: hsl(221, 21%, 27%, 0.8);
  color: white;
}

#header-signout-btn p{
  white-space: nowrap;
}

#header-login {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-login-btn.Inactive{
  display: none;
}

#header-logout-cart{
  display: none;
  gap: 5px;
}

#header-logout-cart.Active{
  display: flex;
}

/*#endregion header*/
/*#region body*/

#body-region {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1220px;
}

#body-content-containter {
  width: 1450px;
  background-color: rgba(209, 248, 255, 0.67);
}

/*#region  body-limited-items*/

#body-limited-offers{
  padding-top: 100px;
}

.section-title h1 {
  text-align: center;
  color: #333333;
  font-size: 36px;
}

.limited-items-container {
  padding: 0 25px;
  position: relative;
}

.limited-items-content {
  margin-top: 100px;
  overflow: hidden;
  display: grid;
  gap: 20px;
  grid-auto-flow: column;
  scroll-behavior: smooth;
}

.limited-items-item {
  width: 320px;
  height: 200px;
  padding: 4px;
  background-color: rgba(126, 126, 126, 0.6);
  border-radius: 0.3em;
  border: 10px transparent solid;
  border-image: url(/JojaMart_files/border_img/border-border.png) 20 stretch;
  cursor: pointer;
}

.limited-items-item:hover {
  background-color: rgba(190, 190, 190, 0.6);

}

.limited-item-content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 3fr 1fr;
}

.limited-item-img-container {
  grid-row: 1/3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.limited-item-img {
  width: 4em;
}

.limited-item-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 20px;
}

.limited-item-desc h2{
  font-size: 16px;
}

.limited-item-price {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 10px;
}

.limited-item-price h4 {
  font-size: 18px;
}

.limited-item-price img {
  width: 18px;
  height: 18px;
  margin-top: 3px;
}

.catalog-arrow {
  height: 46px;
  width: 46px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  user-select: none;
}

.catalog-arrow i {
  line-height: 46px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
}

#arrow-left {
  left: -23px;
}

#arrow-right {
  right: -23px;
}

/*#endregion body-limited-items*/
/*#region  body-popular-items*/


#body-popular-items {
  display: flex;
  flex-direction: column;
  padding-bottom: 300px;
  padding-top: 100px;  
}

#body-popular-items h1 {
  color: #333333;
}

#popular-item-container {
  width: auto;
  justify-content: center;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 300px);
  gap: 50px;
  grid-auto-flow: column;
}

.popular-item {
  width: auto;
  height: 300px;
  padding: 15px;
  background-color: rgba(126, 126, 126, 0.6);
  border-radius: 0.3em;
  border: 10px transparent solid;
  border-image: url(/JojaMart_files/border_img/border-border.png) 20 stretch;
  display: grid;
  grid-template-rows: 5fr 3fr 2fr;
  cursor: pointer;
  box-sizing: border-box;
}

.popular-item:hover{
 background-color: rgba(190, 190, 190, 0.6);
}

.popular-item-img-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.popular-item-img-container img {
  width: 4em;
  user-select: none;
}

.popular-item-desc {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.popular-item-desc h2 {
  font-size: 16px;
}

.popular-item-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popular-item-price img {
  margin-top: 5px;  
}

.popular-item-price h4 {
  font-size: 18px;
}

/*#endregion body-popular-items*/
/*#endregion body*/
/*#region footer*/

.footer-body {
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.8);
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

.footer-content-container {
  width: min-content;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(4, 200px);
  gap: 30px;
}

.footer-content-cubicle {
  width: auto;
  height: auto;
}

.footer-content-cubicle ul {
  text-decoration: none;
  list-style-type: none;
}

.footer-content-cubicle a {
  text-decoration: none;
  list-style-type: none;
  color: white;

  font-size: 14px;
}

.footer-content-cubicle li {
  margin: 20px 0;
}

/*#endregion body-footer*/
/*#region separate*/

#item-expand-close-btn {

}

#item-expand-section {
  
}

#item-expand-container{
  width: 1000px;
  height: 500px;
  background-color: rgb(222, 225, 228);
  position: absolute;
  top: 50%;
  left: 50%;
  border: 12px transparent solid;
  border-image: url(/JojaMart_files/border_img/border-border.png) 15 stretch;
  border-radius: 0.5em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  transform: translate(-50%, -50%);
  z-index: 1000;
  padding: 40px;
}

#item-expand-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;
  gap: 50px;
}

#item-expand-image-container {
  grid-row: 1/4;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

#item-expand-image-container img {
  width: 100%;

}

#item-expand-name-container {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
}

#item-expand-name-container h2{
  font-size: 28px;
}

#item-expand-description-container {
  padding: 20px 20px;
}

#item-expand-tools-container {
  padding: 10px 0px;
  display: flex;
}

#item-expand-tools-container h4 {
  font-size: 28px;
}

#item-expand-price {
  align-items: center;
  display: flex;
}

#item-expand-add-to-cart-container {
  margin-left: auto;
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

#item-expand-amount-input {
  width: 50px;
  border: 1px grey solid;
  border-radius: 0.2em;
  height: auto;
  text-align: center;
}

#item-expand-amount-input 
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {  
    -webkit-appearance: none;
    margin: 0;
}

.item-expand-amount-btn {
  width: 26px;
  height: 26px;
  border: 0px;
  border-radius: 1em;
  background-color: silver;
  font-family:'Courier New', Courier, monospace;

}

#item-expand-to-cart-btn {
 width: 100%;
 background-color: rgb(222, 225, 228);
 border: 2px rgb(147, 149, 151) solid;;
 border-radius: 0.3em;
 padding: 3px 8px;
 cursor: pointer;
}

#item-expand-to-cart-btn:hover {
  background-color: rgb(147, 149, 151);
 }

/*#endregion seperate*/

