<div id="item-expand-container">
    <div id="item-expand-close-btn" class="close-btn">&times;</div>
    <div id="item-expand-grid">
      <div id="item-expand-image-container">
        <img src="${product.imageUrl}" alt="">
      </div>
      <div id="item-expand-name-container">
        <h2>${product.productName}</h2>
      </div>
      <div id="item-expand-description-container">
        <h3>${product.description}</h3>
      </div>
      <div id="item-expand-tools-container">
        <div id="item-expand-price"><h4>Price: ${product.price}</h4> <img src="/JojaMart_files/element_icons/18px-Gold.png" alt=""></div>
        <div id="item-expand-add-to-cart-container">
          <div id="item-expand-add-btn-container">
            <button class="item-expand-amount-btn" id="item-expand-add-btn">+</button>
            <input type="number" id="item-expand-amount-input">
            <button class="item-expand-amount-btn" id="item-expand-subtract-btn">-</button>
          </div>
          <button id="item-expand-to-cart-btn">Add to cart</button>
        </div>
      </div>
    </div>
  </div>